* {
  margin: 0;
}
html {
  font-family: system-ui;
}
body {
  /* prevents selection of waveform elements */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  --min-btn-dimension: 48px;
  overscroll-behavior: none;
}
:root {
  color-scheme: light dark;
}

button {
  /* prevents ios zoom on double tap button */
  touch-action: manipulation;
  height: var(--min-btn-dimension);
  min-width: var(--min-btn-dimension);
}


#region-details-playback button {
  position: relative;
}

fieldset {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 4px;
  gap: 1ch;
  border-style: solid;
}

input {
  font-size: 16px;
}

@media (prefers-color-scheme: dark) {
  .flag-button-container > button:first-of-type {
    box-shadow: -1px 0px 0px  canvas;
  }
}

fieldset:has(input[type="checkbox"]) {
  position: relative;
  height: 2rem;
  box-sizing: border-box;
  background: canvas;
  padding: 0;
}

label:has(input[type="checkbox"]) {
  color: AccentColor;
  display: grid;
  place-content: center;
  width: 100%;
  height: 100%;
}


label:has(input[type="checkbox"]:disabled) {
  color: graytext;
}