* {
  margin: 0;
}
html {
  background: white;
  font-family: system-ui;
}
body {
  /* prevents selection of waveform elements */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  --min-btn-dimension: 48px;
  background: white;
}
button {
  /* prevents ios zoom on double tap button */
  touch-action: manipulation;
  height: var(--min-btn-dimension);
  min-width: var(--min-btn-dimension);
}


#region-details-playback button {
  position: relative;
}
/* :focus-visible */
#region-details-playback button:focus-visible::before {
  font-size: 1rem;
  content: "‹";
  position: absolute;
  left: -0.75rem;
}
/* :focus-visible */
#region-details-playback button:focus-visible::after {
  font-size: 1rem;
  content: "›";
  position: absolute;
  right: -0.75rem
}

#region-details-body fieldset {
  display: flex;
  align-items: center;
  border-radius: 4px;
  gap: 1ch;
}