.controls {
  display: flex;
  gap: 1ch;
  /* padding-inline: 1ch; */
  width: max-content;
  margin-inline-start: auto;
}
.controls-outer {
  overflow: auto;
  width: 100%;
}
.controls fieldset {
  display: flex;
  border: none;
  padding: 0;
  /* margin-inline: 1ch; */
}

.controls fieldset:has(button) {
  gap: 0;
}

.radio-item {
  display: flex;
  gap: 0.5ch;
}

.controls legend {
  display: none;
}