
@media (min-height: 600px) {
    #bottom-panel {
        overflow: auto;
        -webkit-transform: translateZ(0);

    }
}
html, body, #root, #bottom-panel, #region-details {
    height: 100%;
}
#root {
    position: relative;
    display: flex;
    flex-direction: column;
}

#settings-dialog > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}



