
@media (min-height: 600px) {
    #bottom-panel {
        overflow: auto;
    }
}
html, body, #root {
    height: 100%;
}
#root {
    position: relative;
    display: flex;
    flex-direction: column;
}